.login-footer {
  margin-top: 12px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  text-align: center;
}

.login-footer p {
  font-size: 12px;
  color: #6b6284;
  margin-bottom: 6px;
}

.login-footer a {
  font-size: 12px;
  font-weight: 500;
  color: #5d5d5e;
  text-decoration: none;
  border-bottom: 1px solid #5d5d5e;
}

.login-footer a:hover {
  color: #0a7cff;
  border-bottom: 1px solid #0a7cff;
}

.login-footer small{
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #ccc;
}



