.admin-dashboard {
  padding: 2rem;
}

.dashboard-title {
  margin-bottom: 1.5rem;
  color: #104179;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.stat-card {
  padding: 1.5rem;
  border-radius: 8px;
}

.stat-card.total-pending{
  background-color: #ebe82514;
  border: 1px solid #ebde25;
}

.stat-card.total-staff{
  background-color: #25c0eb10;
  border: 1px solid #259feb;
}

.stat-card p {
  font-size: 2rem;
  font-weight: bold;
}

.vehicle-status,
.recent-bookings {
  background: #ffffff;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

.pending {
  color: orange;
}

.approved {
  color: green;
}

.approve-btn {
  background: rgb(0, 128, 75);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.decline-btn {
  background: #eb2c25;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
}
