/* Layout */
.booking-page {
  display: flex;
  height: 100vh;
  background: #f7f7f7;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
}

.brand {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.brand img {
  width: 70px;
  height: 80px;
}

.brand h2{
    font-size: 24px;
    color: #0000ff;
    text-align: center;
}

.brand p{
    color: #555;
    margin-top: 10px;
    text-align: center;
}

.nav a {
  display: block;
  padding: 12px;
  margin-bottom: 6px;
  color: #555;
  text-decoration: none;
  border-radius: 8px;
}

.nav a.logout {
  color: red;
}

.nav a.logout:hover {
  background: #dc262631;
  color: red;
}

.nav a.active,
.nav a:hover {
  background: #ede9fe;
  color: #0000ff;
}


/* Main */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.header h1 {
  color: #10169f;
  font-size: 32px;
  margin-bottom: 8px;
}

.header p{
    color: #555;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

section h3 {
    color: #10169f;
    margin-bottom: 15px;
    font-size: 20px;
}

/* Grids */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-3 div p{
    color: #5676ff;
    font-size: 12px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Inputs */
label {
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 16px;
}

/* Actions */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.cancel {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
}

.cancel:hover{
    background: #f1f1f1;
}

.submit {
  background: #0000ff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 12px;
  color: #9ca3af;
  margin-top: 40px;
}
